@import url('https://fonts.googleapis.com/css?family=Merriweather:300&display=swap');

.footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 15px;
    color: #FFB300;
    text-decoration: none;
    background-color: #00293C;
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    'about contact'
    'bottom bottom';
    padding: 10px;
    margin-top: 20px;
  }

  a{
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 15px;
    color: black;
    text-decoration: none;
  }

 .about{
   grid-area: about;
   height: 35px;
   align-items: center;
   display: grid;
   grid-template-rows: 15% 85%;
   grid-template-areas: 
   'tittle1'
   '.'
   'text';
   padding: 5px;
 } 

 .contact{
   grid-area: contact;
   height: 35px;
   display: grid;
   grid-template-columns: auto auto auto;
   grid-template-rows: 15% 85%;
   grid-template-areas: 
   'tittle tittle tittle'
   '. . .'
   'list1 list2 list3';
   padding: 5px;
 }

 .tittle{
   grid-area: tittle;
 }

 .tittle1{
  grid-area: tittle1;
  padding-top: 10px;
}

.text{
  grid-area: text;
}

 .list1{
  grid-area: list1;
}

.list2{
  grid-area: list2;
}

.list3{
  grid-area: list3;
}

 .bottom{
  grid-area: bottom;
  padding: 0 0 0px 0;
  margin-top: 75px;
}