<div class="footer">
    <div class="about">
        <div class="tittle1"> Acerca de Nosotros </div>
        <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem qui vero labore magnam, accusamus nisi voluptas id, culpa obcaecati possimus sit nesciunt ea. Aperiam velit, fuga consectetur deleniti cumque natus.</div>
    </div>
    <div class="contact">
        <div class="tittle"> CONTACTOS </div>
        <a class="g" href="mailto: guacamayatours.mail@gmail.com"><i class="fab fa-google"></i></a>
        <a class="ttr" href="https://twitter.com/ToursGuacamaya"><i class="fab fa-twitter"></i></a>
        <a class="f" href="https://www.facebook.com/guacamaya.tours.50"><i class="fab fa-facebook-f"></i></a>
        <a class="w" href="#"><i class="fab fa-whatsapp"></i></a>
        <a class="ig" href="https://www.instagram.com/guacamayatoursig/"><i class="fab fa-instagram"></i></a>
        <a class="tmblr" href="https://guacamayatours.tumblr.com"><i class="fab fa-tumblr"></i></a>
    </div>
    <div class="bottom"> Designed by DashCat | <a href="#">@dashcatyt</a></div>
</div>
