<h2>Hoteles</h2>
<ul>
    <li *ngFor="let hotel of hotels">
        <div><span>id: </span>{{hotel.id}}</div>
        <div><span>nombre: </span>{{hotel.name}}</div>
        <div><span>estrellas: </span>{{hotel.stars}}</div>
        <div><span>direcion: </span>{{hotel.direction}}</div>
        <div><span>servicios: </span>{{hotel.benefits}}</div>
        <div><span>precio: </span>${{hotel.price}}</div>
        <div><span>ciudad: </span>{{hotel.city}}</div>
        <div><span>estado: </span>{{hotel.state}}</div>
    </li>
</ul>
