.home{
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-template-areas:
    '. . .'
    'slider slider .'
    'slider slider .'
    'list list list';
    grid-gap: 10px;
    padding: 10px;
}

app-slider{
    grid-area: slider;
}

app-hotel-temp{
    grid-area: list;
}