@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:600&display=swap');

.slider-box{
    background-color: rgb(7, 50, 90);
    padding: 20px 0 20px 0;
    margin: 15px;
    border-radius: 20px;
    display: grid;
    grid-template-areas:
    'slider';
}

a{
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}

.slider{
    grid-area: slider;
    width: 100%;
    margin: auto;
    overflow: hidden;  
    background-color: none;
}

.slider2{
    grid-area: slider;
    z-index: 2;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;  
    background-color: none;
}

.slider3{
    grid-area: slider;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;  
    background-color: none;
}

.slider ul, .slider2 ul, .slider3 ul{
    display: flex;
    padding: 0;
    width: 1000%;
    animation: cambio 40s infinite alternate;
    animation-timing-function:ease-out;    
    margin: 0px;
}

.slider li{
    list-style: none;
    width: 100%;
}

.slider2 li{
    list-style: none;
    padding: 5px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.slider img, .slider3 img{
    width: 100%;
    height: 100%;
}

.info{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #FFB300;
}

@keyframes cambio {
    0% { margin-left: 0;}
    5% { margin-left: 0;}
    10% { margin-left: -100%;}
    15% { margin-left: -100%;}
    20% { margin-left: -200%;}
    25% { margin-left: -200%;} 
    30% { margin-left: -300%;}
    35% { margin-left: -300%;} 
    40% { margin-left: -400%;}
    45% { margin-left: -400%;}
    50% { margin-left: -500%;}
    55% { margin-left: -500%;}
    60% { margin-left: -600%;}
    65% { margin-left: -600%;}   
    70% { margin-left: -700%;}
    75% { margin-left: -700%;}   
    80% { margin-left: -800%;}
    85% { margin-left: -800%;}
    90% { margin-left: -900%;}
    100% { margin-left: -900%;}
}