<div class="slider">
    <ul>
        <li><img src="../../../assets/pics/sldr01.jpg" alt=""></li>
        <li><img src="../../../assets/pics/sldr02.jpg" alt=""></li>
        <li><img src="../../../assets/pics/sldr03.jpg" alt=""></li>
        <li><img src="../../../assets/pics/sldr04.jpg" alt=""></li>
        <li><img src="../../../assets/pics/sldr05.jpg" alt=""></li>
        <li><img src="../../../assets/pics/sldr06.jpg" alt=""></li>
        <li><img src="../../../assets/pics/sldr07.jpg" alt=""></li>
        <li><img src="../../../assets/pics/sldr08.jpg" alt=""></li>
        <li><img src="../../../assets/pics/sldr09.jpg" alt=""></li>
        <li><img src="../../../assets/pics/sldr10.jpg" alt=""></li>
    </ul>
</div>