<div class="grid-container">
    
    <div class="grid-item" id="item1">

        <ngb-accordion #acc="ngbAccordion">
            <ngb-panel class="panel" id="toggle-1" title="Amazonas">
                <ng-template ngbPanelContent>
                    <ul>
                        <li><a href="/main/Hoteles/lista">No disponible</a></li>
                        
                    </ul>
                </ng-template>
            </ngb-panel>
            <ngb-panel class="panel" id="toggle-2" title="Anzoátegui">
                <ng-template ngbPanelContent>
                    <ul>
                        <li><a href="/main/Hoteles/lista">No disponible</a></li>
                    </ul>
                </ng-template>
            </ngb-panel>
            <ngb-panel class="panel" id="toggle-3" title="Apure">
                <ng-template ngbPanelContent>
                    <ul>
                        <li><a href="/main/Hoteles/lista">No disponible</a></li>
                    </ul>
                </ng-template>
            </ngb-panel>
            <ngb-panel class="panel" id="toggle-4" title="Aragua">
                <ng-template ngbPanelContent>
                    <ul>
                        <li><a href="/main/Hoteles/lista">No disponible</a></li>
                    </ul>
                </ng-template>
            </ngb-panel>
            <ngb-panel class="panel" id="toggle-5" title="Barinas">
                <ng-template ngbPanelContent>
                    <ul>
                        <li><a href="/main/Hoteles/lista">No disponible</a></li>
                    </ul>
                </ng-template>
            </ngb-panel>
            <ngb-panel class="panel" id="toggle-6" title="Bolivar">
                <ng-template ngbPanelContent>
                    <ul>
                        <li><a href="/main/Hoteles/lista">No disponible</a></li>
                    </ul>
                </ng-template>
            </ngb-panel>
            <ngb-panel class="panel" id="toggle-7" title="Carabobo">
                <ng-template ngbPanelContent>
                    <ul>
                        <li><a href="/main/Hoteles/lista">No disponible</a></li>
                    </ul>
                </ng-template>
            </ngb-panel>
            <ngb-panel class="panel" id="toggle-8" title="Cojedes">
                <ng-template ngbPanelContent>
                    <ul>
                        <li><a href="/main/Hoteles/lista">No disponible</a></li>
                    </ul>
                </ng-template>
            </ngb-panel>
            <ngb-panel class="panel" id="toggle-9" title="Delta Amacuro">
                <ng-template ngbPanelContent>
                    <ul>
                        <li><a href="/main/Hoteles/lista">No disponible</a></li>
                    </ul>
                </ng-template>
            </ngb-panel>
            <ngb-panel class="panel" id="toggle-10" title="Falcón">
                <ng-template ngbPanelContent>
                    <ul>
                        <li><a href="/main/Hoteles/lista">No disponible</a></li>
                    </ul>
                </ng-template>
            </ngb-panel>
            <ngb-panel class="panel" id="toggle-11" title="Guárico">
                <ng-template ngbPanelContent>
                    <ul>
                        <li><a href="/main/Hoteles/lista">No disponible</a></li>
                    </ul>
                </ng-template>
            </ngb-panel>
            <ngb-panel class="panel" id="toggle-12" title="Lara">
                <ng-template ngbPanelContent>
                    <ul>
                        <li><a href="/main/Hoteles/lista">No disponible</a></li>
                        
                    </ul>
                </ng-template>
            </ngb-panel>
            <ngb-panel class="panel" id="toggle-13" title="Mérida">
                <ng-template ngbPanelContent>
                    <ul>
                        <li><a href="/main/Hoteles/lista">No disponible</a></li>
                    </ul>
                </ng-template>
            </ngb-panel>
            <ngb-panel class="panel" id="toggle-14" title="Miranda (Distrito Federal)">
                <ng-template ngbPanelContent>
                    <ul>
                        <li><a href="/main/Miranda">Visitar estado</a></li>
                        
                    </ul>
                </ng-template>
            </ngb-panel>
            <ngb-panel class="panel" id="toggle-15" title="Monagas">
                <ng-template ngbPanelContent>
                    <ul>
                        <li><a href="/main/Hoteles/lista">No disponible</a></li>
                    </ul>
                </ng-template>
            </ngb-panel>
            <ngb-panel class="panel" id="toggle-16" title="Nueva Esparta">
                <ng-template ngbPanelContent>
                    <ul>
                        <li><a href="/main/Hoteles/lista">No disponible</a></li>
                    </ul>
                </ng-template>
            </ngb-panel>
            <ngb-panel class="panel" id="toggle-17" title="Portuguesa">
                <ng-template ngbPanelContent>
                    <ul>
                        <li><a href="/main/Hoteles/lista">No disponible</a></li>
                    </ul>
                </ng-template>
            </ngb-panel>
            <ngb-panel class="panel" id="toggle-18" title="Sucre">
                <ng-template ngbPanelContent>
                    <ul>
                        <li><a href="/main/Hoteles/lista">No disponible</a></li>
                    </ul>
                </ng-template>
            </ngb-panel>
            <ngb-panel class="panel" id="toggle-19" title="Táchira">
                <ng-template ngbPanelContent>
                    <ul>
                        <li><a href="/main/Hoteles/lista">No disponible</a></li>
                    </ul>
                </ng-template>
            </ngb-panel>
            <ngb-panel class="panel" id="toggle-20" title="Trujillo">
                <ng-template ngbPanelContent>
                    <ul>
                        <li><a href="/main/Hoteles/lista">No disponible</a></li>
                    </ul>
                </ng-template>
            </ngb-panel>
            <ngb-panel class="panel" id="toggle-21" title="Vargas">
                <ng-template ngbPanelContent>
                    <ul>
                        <li><a href="/main/Hoteles/lista">No disponible</a></li>
                    </ul>
                </ng-template>
            </ngb-panel>
            <ngb-panel class="panel" id="toggle-22" title="Yaracuy">
                <ng-template ngbPanelContent>
                    <ul>
                        <li><a href="/main/Hoteles/lista">No disponible</a></li>
                    </ul>
                </ng-template>
            </ngb-panel>
            <ngb-panel class="panel" id="toggle-23" title="Zulia">
                <ng-template ngbPanelContent>
                    <ul>
                        <li><a href="/main/Hoteles/lista">No disponible</a></li>
                    </ul>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>

    </div>

    <div class="grid-item" id="item3">

        <ngb-accordion #acc="ngbAccordion">
            <ngb-panel class="panel" id="toggle-cat24" title="Playa">
                <ng-template ngbPanelContent>
                    <ul>
                        <li><a href="/main/Hoteles/lista">No disponible</a></li>
                    </ul>
                </ng-template>
            </ngb-panel>
            <ngb-panel class="panel" id="toggle-cat25" title="Andes">
                <ng-template ngbPanelContent>
                    <ul>
                        <li><a href="/main/Hoteles/lista">No disponible</a></li>
                    </ul>
                </ng-template>
            </ngb-panel>
            <ngb-panel class="panel" id="toggle-cat26" title="Gran Sabana">
                <ng-template ngbPanelContent>
                    <ul>
                        <li><a href="/main/Hoteles/lista">No disponible</a></li>
                    </ul>
                </ng-template>
            </ngb-panel>
            <ngb-panel class="panel" id="toggle-cat27" title="Llano">
                <ng-template ngbPanelContent>
                    <ul>
                        <li><a href="/main/Hoteles/lista">No disponible</a></li>
                    </ul>
                </ng-template>
            </ngb-panel>
            <ngb-panel class="panel" id="toggle-cat28" title="Ciudad">
                <ng-template ngbPanelContent>
                    <ul>
                        <li><a href="/main/Hoteles/lista">No disponible</a></li>
                    </ul>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>

    </div>

</div>