<div class="detail">
    
    <div class="Hotel" *ngIf="hotel">
        <h2 class="tittle">{{hotel.name | uppercase}}</h2>
        <div class="pic"><img src="{{hotel.picture}}" alt="hotel"></div>
        <div class="txt">
            <div>Nombre: {{hotel.name}}</div>
            <div>Estrellas: {{hotel.stars}}</div>
            <div>Precio: {{hotel.price}}</div>
            <div>Direccion: {{hotel.direction}}</div>
            <div>Beneficios: {{hotel.benefits}}</div>
            <div>Ciudad: {{hotel.city}}</div>
            <div>Estado: {{hotel.state}}</div>
            <a routerLink="/main/Hoteles/habitaciones">
                <div>habitaciones</div>
            </a>
        </div>
    </div>
    <button class="back" (click)="goBack()">Regresar</button>
</div>