@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #00293C;
}

li,a,button {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #FFB300;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 0 2% 0 2%;
}

.logo {
    cursor: pointer;
    position: relative;
    height: 50px;
    overflow: hidden;
    background: url(../../../pics/LOGO.png) no-repeat center;
    background-size: cover;
    width: 25%;
}

.links {
    display: flex;
    justify-content: center;
    width: 50%;
    
}

.link {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 20px;
    border-inline: 1px rgb(0, 136,169) solid;
}

.link:hover{
    background-color: rgb(11, 71, 99);
    color: #F0810F;
    transition: all 0.3s ease 0s;
}


button {
    padding: 9px 25px;
    background-color: rgba(0, 136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    color: #F0810F;
    background-color: rgba(0, 136,169,0.8);
}

.Nmode {
    display: flex;
    justify-content: flex-end;
    width: 25%;
}