<nav class="header">
    <a href="/main/Home" class="logo"></a>
    <div class="links">
        <a href="/main/Hoteles"><div class="link"><i class="fas fa-hotel"></i> HOTELES</div></a>
        <a href="/main/Destinos"><div class="link"><i class="fas fa-map-marked-alt"></i> DESTINOS</div></a>
        <a href="/main/PlaneaTuViaje"><div class="link">¡PLANEA TU VIAJE!</div></a>
        <a href="/main/Itinerario"><div class="link"><i class="fas fa-calendar-alt"></i> ITINERARIO</div></a>
    </div>
    <div class="Nmode"><a href="#"><button><i class="far fa-moon"></i></button></a></div>
</nav>

