<nav class="header" aria-expanded="false">
    <a href="/main/Home" class="logo"><img class="log" src="../../../assets/pics/LOGO.png" alt="Guacamaya Tours"><img class="iso" src="../../../assets/pics/isotipo.png" alt="Guacamaya Tours"></a>
    <div class="menubtn"><button class="mn" aria-expanded="false" (click)="night()"><i class="fas fa-bars"></i></button></div>
    <div class="links" aria-expanded="false">
        <a href="/main/Hoteles"><div class="link hot"><i class="fas fa-hotel"></i> HOTELES</div></a>
        <a href="/main/Destinos"><div class="link des"><i class="fas fa-map-marked-alt"></i> DESTINOS</div></a>
        <a href="/main/PlaneaTuViaje"><div class="link pla">¡PLANEA TU VIAJE!</div></a>
        <a href="/main/Itinerario"><div class="link iti"><i class="fas fa-calendar-alt"></i> ITINERARIO</div></a>
    </div>
    <div class="Nmode"><button><i class="far fa-moon"></i></button></div>
</nav>
