<div>
<ul class="hotels">
    <li *ngFor="let hotel of hotels">
        <a class="info" routerLink="/main/Hoteles/detalle/{{hotel.id}}">
            <div class="name">{{hotel.name | titlecase}}</div>
            <div class="stars">
                    <div *ngFor="let star of stars; let i = index">
                        <span *ngIf="i < hotel.stars">
                            <i class="fas fa-star"></i>
                        </span>
                            <span *ngIf="i >= hotel.stars"><i class="far fa-star"></i>
                        </span>
                    </div>
                </div>            <div class="price"><span>A partir de: </span>${{hotel.price}}</div>
            <div class="pic"><img src="{{hotel.picture}}" alt="hotel"></div>
        </a>
    </li>
</ul>
</div>